.brand-list-item {
    width: 22%;
}

.brand-list-item>a {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .16);
    height: 200px;
    padding: 0 20px;
    transition: .3s ease-in;
}

.brand-list-item a:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .16);
} 

@media (max-width: 1026px) {
    .all-brands-list h1 {
        font-size: 26px;
    }
    .all-brands-list p {
        font-size: 18px;
    }
    .brand-list-item {
        width: 100%;
    }
    .brand-list-item>a {
        height: 90px!important;
        justify-content: left!important;
    }
    .brand-list-item>a>img {
        width: 60px;
        height: 60px;
        margin-right: 70px;
    }
}

@media (max-width: 575px) {
    .brand-list-item>a {
        height: 60px!important;
        justify-content: left!important;
    }
    .brand-list-item>a>img {
        width: 60px;
        height: 45px;
    }
}

.breadcrumb-item::before {
    content: none!important;
}