.__swiper-style {
    border-radius: 5px;
    /* width: 588px!important; */
    /* height: 364px; */
    height: 355px;
    margin-left: 0!important;
    margin-right: 0!important;
}

.swiper-pagination-bullet, .swiper-pagination-bullet-active {
    background: #fff !important;
}

@media (max-width: 1189px) {
    .__swiper-style {
        height: 300px;
    }
}

@media (max-width: 991px) {
    .__swiper-style {
        height: 405px;
    }
    .car-gallery-swiper {
        --swiper-pagination-bullet-width: 6px;
        --swiper-pagination-bullet-height: 6px;
        --swiper-pagination-bullet-horizontal-gap: 2px;
    }
}

@media (max-width: 767px) {
    .__swiper-style {
        height: 300px;
    }
}

.my-prev-button {
    background: unset;
    border: none;
    position: absolute;
    top: 45%;
    z-index: 1000;
}

.my-prev-button > svg {
    font-size: 30px;
}

.my-next-button {
    background: unset;
    border: none;
    position: absolute;
    top: 45%;
    right: 0;
    z-index: 1000;
}

.my-next-button > svg {
    font-size: 30px;
}

.car-thumbs {
    column-gap: 5px;
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
}

.gallery-item-thumb {
    border-bottom: 3px solid transparent;
    border-radius: 5px;
}

.small-img {
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.gallery-item-link {
    border-radius: 5px;
    overflow: hidden;
}

.gallery-item-link > img {
    transition: transform .3s ease-in-out;
}

.gallery-item-link > img:hover {
    transform: scale(1.05);
    border-radius: inherit;
}

.gallery-item-thumb.active {
    border-bottom: 3px solid #009fe2;
}

.rental-pt {
    font-size: 14px;
    line-height: 25px;
}

.specifications-icon {
    padding-right: .5rem;
}

.specifications-icon > svg {
    font-size: 30px;
}

.specifications-title {
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #8c98ab;
}

.specifications-main {
    font-size: 14px;
}

.fs-9 {
    font-size: 9px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-30 {
    font-size: 30px;
}

.fs-36 {
    font-size: 36px;
}

@media (max-width: 991px) {
    .fs-m-18 {
        font-size: 18px !important;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}

.bg-badge-info {
    background: rgba(0, 159, 226, .05);
}

.rounded-medium {
    border-radius: 10px;
}

.rounded-small {
    border-radius: 5px;
}

.text-right {
    text-align: right;
}

/* right column */

.title-car-mobile {
    background: #f7f8fa;
    border-radius: 15px;
    height: max-content;
    max-width: 100%;
    padding: 0 !important;
}

.priceText span:first-of-type,
.feel-free {
    color: #8c98ab;
}

.priceText span:nth-child(2) {
    color: #fff;
}

.bg-brand-primary {
    background-color: #1359ba;
}

.price-val {
    font-weight: 500;
}

.availability-label.bg-info {
    /* background: rgba(0, 159, 226, .1) !important; */
    background: #e2f8cf !important;
}

.color-brand-accent {
    /* color: #009fe2; */
    color: #0ea548;
}

.calendar-check {
 padding-bottom: 2px;
}

.calendar-check-svg {
    font-size: 23px;
}

.min-height-35 {
    min-height: 35px;
}

.no-deposit-svg {
    font-size: 20px;
}

.block-height-35 {
    height: 35px;
}

.btn-medium {
    height: 40px;
    /* min-width: 40px; */
    padding: 0 10px;
    justify-content: center;
    align-items: center;
}

.contact_btn {
    background-color: #0ea548;
    transition: background-color 0.15s ease-out;
}

.contact_btn:hover {
    background-color: rgb(79, 188, 121);

}

.span-contact {
    color: #fff;
}

.or-book-online::before {
    border-color: #ccd4de !important;
    border-top: 1px solid;
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
}

.o-b-o-text {
    color: #8c98ab;
    background-color: #f7f8fa;
}

.header-date-span {
    color: #8c98ab;
    font-size: 11px;
    font-weight: bold;
}

.form-group {
    position: relative;
}

.form-border-right {
    border-right: 1px solid;
    border-color: #ccd4de !important;
}

.custom-label {
    font-size: 9px;
    font-weight: 700;
    left: 2px;
    letter-spacing: .05em;
    line-height: 15px;
    padding: 0 15px;
    position: absolute;
    text-transform: uppercase;
    top: 4px;
}

#datepicker_start,
#datepicker_end {
    border: none !important;
}


.form-control[readonly] {
    background-color: #f7f8fa;
}

.custom-label~.form-control {
    height: 50px;
    background-size: 18px 18px;
    padding-top: 15px;
    padding-left: 17px;
    border-radius: 0;
}

#datepicker_start {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#datepicker_end {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form-control:focus {
    box-shadow: none;
    outline: 1px solid rgb(56, 148, 182);
}

.select-start-time-container {
    position: relative;
}

#select-start-time {
    border-radius: 5px;
}

.arrow-down-svg {
    position: absolute;
    top: 38%;
    right: 8%
}

#litepicker {
    width: 100% !important;
}

.litepicker {
    width: 100% !important;
}

.litepicker .container__months {
    border-radius: 0;
    box-shadow: none !important;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100% !important;
}

.month-item {
    transform: none !important;
    width: 100% !important;
}

.month-item-name, .month-item-year {
    font-size: 16px;
    font-weight: 400;
}

.litepicker .container__days .day-item.is-in-range {
    background: #e6f5fc;
    color: #009fe2;
}

.month-item-weekdays-row>div, .title-car-mobile .container__days>div, .title-car-mobile .month-item-weekdays-row>div {
    align-items: center;
    display: flex;
    height: 45px;
    justify-content: center;
    width: 100% !important;
    font-size: 14.4px;
    cursor: pointer!important;
}


.litepicker .container__months .month-item-weekdays-row>div {
    color: #8c98ab;
    font-size: 14px !important;
    font-weight: 500;
}

.title-car-mobile .container__days, .title-car-mobile .month-item-weekdays-row {
    width: 100%;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.warning-svg {
    padding-right: .5rem;
}

#personalInfo {
    border-radius: 15px;
    background-color: #fff;
}

.personal-inf {
    color: #8c98ab;
}

.form-field-wrapper {
    border: 1px solid #e5e5e5;
    padding: 2px 15px;
}

.form-field-wrapper.error {
    outline: 1px solid #dc3545;
}

.form-field-wrapper.success {
    outline: 1px solid #18bc9c;
}

.default-phone-input {
    height: 50px;
}

.default-phone-input input {
    background: 0 0;
    border: none;
    box-shadow: none;
    margin-bottom: 0 !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0 !important;
    outline: 0;
    position: relative;
    width: 100%;
    z-index: 0;
}

.phone-number-input {
    padding-left: 5px !important;
}

.iti {
    display: flex !important;
    font-size: 14px !important;
    width: 100%;
}

.iti__country-container {
    max-height: none !important;
    overflow: visible !important;
    padding-left: 16px !important;
    position: static !important;
}

.iti__selected-dial-code {
    font-size: 14px;
}

.iti__dropdown-content {
    width: 310px !important;
}

.default-phone-input .iti__dropdown-content {
    margin-left: -16px !important;
}

.iti__search-input {
    font-size: 14px;
    border-radius: 3px;
    border-width: 0;
    padding: 9px 12px;
    width: 100%;
}

.iti__country-name,
.iti__dial-code {
    font-size: 14px;
}

.iti__country-container:hover {
    background-color: transparent !important;
}

/* ---SUMMARY--- */
.title-car-mobile #summary {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 0;
}

.book-sum {
    color: #8c98ab;
}

/* reserve */
@media (min-width: 992px) {
    #reserve_booking {
        background: #e2f8cf;
    }
}

.rounded-medium-bottom {
    border-radius: 0 0 10px 10px;
}

.color-semantic-success {
    color: #0ea548;
}

.reserve-btn {
    width: 133px;
    height: 50px;
}

.reserve-btn:hover {
    background-color: #0d6efd;
}

.reserve-btn span {
    color: #fff;
}

.error-page img {
    max-height: 45px;
    width: auto;
}

.error-page .title {
    color: #13428d;
    font-size: 9rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 100%;
}

.error-page .desc {
    color: #101010;
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
}

.mob-nav ul li {
    cursor: pointer;
    height: 50px;
    position: relative;
    transition: border-bottom .3s ease;
}

.mob-nav ul li::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #009fe2;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mob-nav ul li:hover::after {
    opacity: 1;
}

.active-nav {
    color: #009fe2;
}

.active-nav::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #009fe2;
    opacity: 1!important;
}

.month-item-weekdays-row {
    width: 100%;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container__days {
    width: 100%;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container__days>div {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%!important;
    height: 45px;
}

.litepicker .container__days .day-item.is-locked {
    cursor: not-allowed!important;
}

@media (max-width:990px) {
    .arrow-down-svg {
        position: absolute;
        top: 38%;
        right: 2%;
    }
  }

@media (max-width: 400px) {
    .brand-img img {
        width: 45px;
    }
    .__swiper-style {
        height: 230px;
    }
}